<template>
  <div id="authBox">
    <button
      class="authButton"
      @click="loginSpotifyAuthFlow()"
      v-if="!this.$parent.authToken">Sign in with Spotify</button>
    <button
      class="authButton"
      @click="logoutSpotify()"
      v-if="this.$parent.authToken">Sign Out</button>
  </div>
</template>
<script>
import { bus } from "@/main";
export default {
  name: "Authentication",
  created: function() {
    this.checkAuthCookies();
  },
  mounted: function() {
    const comp = this;
    bus.$on("regenerateAuthToken", this.checkAuthCookies);
    var cookieCheck = setInterval(function() {
      comp.checkAuthCookies();
    }, 1000);
  },
  methods: {
    checkAuthCookies() {
      const cookies = document.cookie.split(";");
      var authExists = false;
      var refreshExists = false;
      var cookieObjects = {};
      for (let index = 0; index < cookies.length; index++) {
        var cookie = cookies[index];
        if (cookie.includes("authorization")) {
          cookieObjects.authorization = cookie.split("=")[1];
        } else if (cookie.includes("refresh_token")) {
          cookieObjects.refresh_token = cookie.split("=")[1];
        }
      }
      if (cookieObjects.authorization) {
        var spotifyAuthToken = cookieObjects.authorization;
        if (spotifyAuthToken != "undefined") {
          if (!this.$parent.authToken) {
            this.$emit("setAuthToken", spotifyAuthToken);
            this.$emit("callNewLyrics");
          }
        }
      } else if (cookieObjects.refresh_token) {
        var refreshToken = cookieObjects.refresh_token;
        if (refreshToken != "undefined") {
          this.refreshSpotifyAuthToken(refreshToken);
        }
      }
    },
    loginSpotifyAuthFlow() {
      var SPOTIFY_CLIENT_ID = process.env.SPOTIFY_CLIENT_ID;
      var SPOTIFY_REDIRECT_URI = "http://" + process.env.FRONTEND + "/callback";
      var spotifyScope = "user-read-currently-playing";
      var spotifyAuthEndpoint =
        "https://accounts.spotify.com/authorize?" +
        "client_id=" +
        SPOTIFY_CLIENT_ID +
        "&redirect_uri=" +
        SPOTIFY_REDIRECT_URI +
        "&scope=" +
        spotifyScope +
        "&response_type=code&state=123";
      window.open(
        spotifyAuthEndpoint,
        "callBackWindow",
        "height=500,width=400"
      );
    },
    refreshSpotifyAuthToken(refreshToken) {
      const comp = this;
      axios({
        method: "get",
        url: this.$parent.baseURL + "auth/refresh",
        headers: {
          Authorization: refreshToken
        }
      }).then(function(res) {
        var refreshExpDate = new Date(60 * 60 * 24 * 365 * 100000);
        var expDate = new Date();
        expDate.setTime(expDate.getTime() + res.data.expires_in * 1000);
        var spotifyAuthToken = res.data.access_token;
        var spotifyRefreshToken = res.data.refresh_token;
        document.cookie =
          "authorization=" +
          spotifyAuthToken +
          "; expires=" +
          expDate.toUTCString() +
          "; path=/";
        if (spotifyRefreshToken) {
          document.cookie =
            "refresh_token=" +
            spotifyRefreshToken +
            "; expires=" +
            refreshExpDate.toUTCString() +
            "; path=/";
        }
        comp.$emit("setAuthToken", spotifyAuthToken);
      });
    },
    logoutSpotify() {
      this.$emit("setAuthToken", "");
      document.cookie = "authorization=; Max-Age=0";
      document.cookie = "refresh_token=; Max-Age=0";
      document.cookie = "csrf=; Max-Age=0";
    }
  }
};
</script>
<style scoped>
.authButton {
  background: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1em;
  border: 2px solid #1db954;
  border-radius: 15px;
  height: 100%;
  float: right;
}

.authButton:hover {
  filter: brightness(150%);
}
</style>
