<template>
  <div id="callback">
    <h1 v-if="this.$parent.authToken">Successfully logged in!</h1>
  </div>
</template>
<script>
export default {
  name: "Callback",
  methods: {
    spotifyAuthTokenCallback() {
      // Get the token:
      const codeValueRegex = /code=(.+)/i;
      const myURL = window.location.href.split("&");
      for (let i = 0; i < myURL.length; i++) {
        if (myURL[i]) {
          const urlParam = myURL[i];
          var codeValueRegexMatch = urlParam.match(codeValueRegex);
          if (codeValueRegexMatch) {
            var spotifyCodeToken = codeValueRegexMatch[1];
          }
        }
      }
      if (spotifyCodeToken) {
        axios({
          method: "get",
          url: this.$parent.baseURL + "auth/",
          headers: {
            Authorization: spotifyCodeToken
          }
        }).then(function(res) {
          var refreshExpDate = new Date(60 * 60 * 24 * 365 * 100000);
          var expDate = new Date();
          expDate.setTime(expDate.getTime() + res.data.expires_in * 1000);
          var spotifyAuthToken = res.data.access_token;
          var spotifyRefreshToken = res.data.refresh_token;
          document.cookie =
            "authorization=" +
            spotifyAuthToken +
            "; expires=" +
            expDate.toUTCString() +
            "; path=/";
          document.cookie =
            "refresh_token=" +
            spotifyRefreshToken +
            "; expires=" +
            refreshExpDate.toUTCString() +
            "; path=/";
          self.close();
        });
      }
    }
  },
  created: function() {
    this.spotifyAuthTokenCallback();
  }
};
</script>
<style scoped>
#callback {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  color: black;
  padding-left: 10px;
}
</style>
