<template>
  <div id="lyricsBox">
    <div v-if="this.$parent.authToken" class="currentTrack">
      <div class="trackInfo">
        <h2 v-if="current_song_name" class="songName">{{ current_song_name }}</h2>
        <h3 v-if="current_artist_name" class="artistName">{{ current_artist_name }}</h3>
        <h3 v-if="current_album_name" class="albumName">Album '{{ current_album_name }}'</h3>
      </div>
      <div v-if="sync" class="progressBG">
        <p class="percent">{{ parseInt(width).toFixed(0)+'%' }}</p>
        <p class="realTime">{{ curReadableTime+'/'+totalReadableTime }}</p>
        <div class="progressStatus" :style="{width:width+'%'}"/>
      </div>
      <div class="controlButtons">
        <button class="loadButton" @click="userLyricFetch">Get Lyrics!</button>
        <button class="syncButton" @click="setLyricSyncState">Toggle Lyric Sync</button>
        <button
          class="scrollButton"
          :style="scrollButtonStyle"
          @click="setLyricScrollState"
        >Auto Scroll</button>
      </div>
      <font-awesome-icon
        class="lyricLoadingSpinner"
        icon="sync"
        v-if="loading || timer.current === timer.fast"
      />
      <p v-if="this.$parent.authToken" class="lyrics">{{ current_lyrics }}</p>
    </div>
    <p v-else class="lyrics">Press the login button to get started!</p>
  </div>
</template>
<script>
import { bus } from "@/main";
export default {
  name: "Lyrics",
  data() {
    return {
      current_song_name: "",
      current_artist_name: "",
      current_album_name: "",
      current_lyrics: "",
      sync: true,
      progress: 0,
      duration: 0,
      padding_bottom: 10,
      curReadableTime: "00:00",
      totalReadableTime: "00:00",
      timer: {
        current: 10000,
        default: 10000,
        fast: 2000
      },
      speed: 0,
      speedOld: 0,
      tickRate: 100,
      loading: false,
      width: 0,
      autoScroll: true,
      scrollButtonStyle: { "": "" }
    };
  },
  created: function() {
    window.addEventListener("wheel", this.handleScrollEvent, {
      capture: true,
      passive: true
    });
    window.addEventListener("touchmove", this.handleScrollEvent, {
      capture: true,
      passive: true
    });
  },
  destroyed: function() {
    window.removeEventListener("wheel", this.handleScrollEvent, {
      capture: true,
      passive: true
    });
    window.removeEventListener("touchmove", this.handleScrollEvent, {
      capture: true,
      passive: true
    });
  },
  methods: {
    // This is the event handler for scrolling, uses the tickrate as its callback time
    handleScrollEvent(event) {
      function scroller(comp, callback) {
        comp.setLyricScrollState(false);
        setTimeout(() => {
          callback(true);
        }, comp.tickRate);
      }
      scroller(this, this.setLyricScrollState);
      // Disable autoscroll and hide it from the user when they manually scroll -- this is temporary
      this.setLyricScrollState(false, false);
    },
    setLyricScrollState(state, display) {
      if (state == false) {
        this.autoScroll = state;
        if (display) {
          this.scrollButtonStyle = { filter: "brightness(50%)" };
        }
        return;
      } else if (state === true) {
        this.autoScroll = state;
        this.scrollButtonStyle = { "": "" };
        return;
      }
      this.autoScroll = !this.autoScroll;
      if (this.autoScroll) {
        this.scrollButtonStyle = { "": "" };
      } else {
        this.scrollButtonStyle = { filter: "brightness(50%)" };
      }
    },
    /*
      We define a speed which is the number of pixels we scroll each time
      This is the tick rate / duration / (scrollheight - clientheight)
      This can be a non-whole number or a number less than 1
      If it's less than 1 we combine it with the previous speed until we get 1 pixel moved
      This allows us to maintain a reasonable scroll speed on long songs with few lyrics
      If the speed isn't a whole number we round it and take the remainder and add it into 'old speed'
      This lets us capture fragments until we can make a full scroll
    */
    lyricScroller() {
      if (this.autoScroll == true) {
        this.speed =
          this.tickRate /
          (this.duration /
            (document.body.scrollHeight - document.body.clientHeight));
        if (this.speed < 1) {
          if (this.speedOld + this.speed > 1) {
            this.speed += this.speedOld;
          } else {
            this.speedOld += this.speed;
          }
        }
        if (this.speed > 1) {
          this.speedOld = this.speed - Math.round(this.speed);
          this.speed = Math.round(this.speed);
        }
        window.scrollBy(0, this.speed);
      }
    },
    setLyricSyncState() {
      this.sync = !this.sync;
      this.setLyricScrollState(false);
      if (this.sync) {
        this.$el
          .querySelector(".controlButtons")
          .setAttribute("style", "position: sticky; top: 20px;");
      } else {
        this.$el
          .querySelector(".controlButtons")
          .setAttribute("style", "position: sticky; top: -1px;");
      }
    },
    userLyricFetch() {
      this.loading = true;
      this.lyricFetch();
    },
    lyricFetch() {
      const comp = this;
      if (this.$parent.authToken) {
        axios({
          method: "get",
          url: comp.$parent.baseURL + "current",
          headers: {
            Authorization: comp.$parent.authToken
          }
        })
          .then(response => {
            if (response.status === 200) {
              if (comp.current_song_name != response.data.song_name) {
                comp.current_song_name = response.data.song_name;
                comp.current_artist_name =
                  "By '" + response.data.artist_name + "'";
                comp.current_album_name = response.data.album_name;
                comp.current_lyrics = response.data.lyrics;
                comp.timer.current = comp.timer.default;
                // comp.padding_bottom = document.body.scrollHeight / 4;
                window.scrollTo(0, 0);
              }
            } else if (response.status === 204) {
              comp.current_song_name = "No song playing!";
              comp.current_artist_name =
                "Start playing a song on Spotify and hit the 'Get Lyrics' button or wait " +
                comp.timer.current / 1000 +
                " seconds and it'll load automatically!";
              comp.current_album_name = "";
              comp.current_lyrics = "";
              comp.timer.current = comp.timer.default;
              window.scrollTo(0, 0);
            }
            comp.loading = false;
            comp.progress = response.data.progress;
            comp.duration = response.data.duration;
          })
          .catch(error => {
            console.log(error);
            console.log(error.response.status);
            if (error.response.status === 401) {
              comp.$emit("regenerateToken");
            }
          });
      }
    },
    lyricRefresh() {
      setTimeout(
        function() {
          if (this.sync == true) {
            if (this.$parent.authToken) {
              this.lyricFetch();
              this.$el
                .querySelector(".lyrics")
                .setAttribute(
                  "style",
                  "padding-bottom: " + this.padding_bottom + "px;"
                );
            }
            if (
              this.timer.current * 3 > this.duration - this.progress &&
              this.duration > 0 &&
              this.progress > 0
            ) {
              this.timer.current = this.timer.fast;
            }
          }
          this.lyricRefresh(this);
        }.bind(this),
        this.timer.current
      );
    },
    formatTimeToText(millisec) {
      var min = Math.floor(millisec / 60000);
      var sec = ((millisec % 60000) / 1000).toFixed(0);
      if (sec == 60) {
        min += 1;
        sec = 0;
      }
      var niceTime = min + ":" + (sec < 10 ? "0" : "") + sec;
      return niceTime;
    },
    updateProgressBar() {
      if (this.progress < this.duration) {
        this.progress += this.tickRate;
        this.width = (this.progress / this.duration) * 100;
        this.width = this.width.toFixed(2);
        this.curReadableTime = this.formatTimeToText(this.progress);
        this.totalReadableTime = this.formatTimeToText(this.duration);
      }
    },
    loginLoadLyrics() {
      // When the user is logged in using a refresh token automatically there is a small delay before this.$parent.authToken is populated.
      // This .5s delay will be long/responsive enough to automatically grab the lyrics.
      setTimeout(
        function() {
          this.loading = true;
          this.lyricFetch();
        }.bind(this),
        500
      );
    }
  },
  mounted: function() {
    bus.$on("getNewLyrics", this.loginLoadLyrics());
    this.lyricFetch();
    this.lyricRefresh();
    setInterval(
      function() {
        this.lyricScroller();
        this.updateProgressBar();
      }.bind(this),
      this.tickRate
    );
  }
};
</script>
<style scoped>
h3 {
  font-size: 1.25rem;
}

.progressBG {
  position: sticky;
  top: -1px;
  background: rgb(40, 40, 40);
  width: 100%;
  height: 25px;
  color: white;
  text-align: center;
  z-index: 0;
}

.progressBG p {
  margin: 0;
  height: 25px;
  z-index: 2;
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.realTime {
  position: absolute;
  right: 10px;
}

@keyframes expandWidth {
  0% {
    width: 0;
  }
  100% {
    width: auto;
  }
}

.progressStatus {
  position: absolute;
  left: 0;
  background: rgba(192, 192, 192, 1);
  width: 0%;
  height: 25px;
  z-index: 1;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.trackInfo * {
  color: rgb(217, 217, 217);
  margin-bottom: 5px;
}

.songName {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 0px;
}

.artistName {
  font-size: 1em;
  font-weight: 500;
  margin-top: 0px;
}

.albumName {
  font-size: 1em;
  font-weight: 500;
  margin-top: 0px;
}

.controlButtons {
  position: sticky;
  top: 24px;
  display: flex;
  justify-content: space-between;
  background: #1db954;
  height: 25px;
  width: 100%;
  border: 0;
  border-radius: 0px 0px 15px 15px;
  outline: none;
}

.controlButtons > button {
  background: #1db954;
  color: white;
  height: 25px;
  width: 100%;
  border: 0;
  outline: none;
}
@keyframes buttonClicked {
  0% {
    box-shadow: 1px 1px black;
  }
  100% {
    transform: scale(1, 1.1);
    box-shadow: 5px 0px 5px 1px rgba(0.2, 0, 0, 0);
  }
}
.controlButtons > button:active {
  animation-name: buttonClicked;
  animation-duration: 0.1618s;
  animation-timing-function: linear;
}

.scrollButton {
  border-radius: 0px 0px 15px 0px;
}

.loadButton {
  border-radius: 0px 0px 0px 15px;
}

.controlButtons > button:hover {
  filter: brightness(115%);
}

@keyframes loaderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lyricLoadingSpinner {
  color: white;
  animation-name: loaderRotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (min-width: 1024px) {
  .lyricLoadingSpinner {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 64px;
  }
}

@media screen and (min-width: 320px) and (max-width: 960px) {
  .lyricLoadingSpinner {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 32px;
  }
}

.lyrics {
  white-space: pre-wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: rgb(217, 217, 217);
}
</style>
