<template>
  <div id="app">
    <span class="bodyShadow"/>
    <header>
      <h1>Lyrical</h1>
    </header>
    <authentication
      class="auth"
      @setAuthToken="updateAuthToken"
      @callNewLyrics="callNewLyrics"/>
    <router-view
      class="route"
      @regenerateToken="regenerateAuthToken"/>
    <footer/>
    <cookie-law/>
    <link 
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet">
  </div>
</template>

<script>
import CookieLaw from "vue-cookie-law";
import Authentication from "@/components/Authentication";
import { bus } from "@/main";

const backendPort = process.env.BACKEND_POST;
const backendHost = process.env.BACKEND_HOST;
const backend = process.env.BACKEND;
const baseURLConst = "http://" + backend + "/";
const apiURLConst = baseURLConst + "api_v1/";
export default {
  name: "App",
  data() {
    return {
      baseURL: baseURLConst,
      apiURL: apiURLConst,
      authToken: ""
    };
  },
  methods: {
    callNewLyrics() {
      bus.$emit("getNewLyrics");
    },
    updateAuthToken(data) {
      this.authToken = data;
    },
    regenerateAuthToken() {
      document.cookie = "authorization=; Max-Age=0";
      bus.$emit("regenerateAuthToken");
    }
  },
  components: {
    authentication: Authentication,
    CookieLaw
  }
};
</script>

<style>
html,
body {
  /* Page sizing */
  height: 100%;
  width: 100%;
  /* Styling */
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

#app {
  /* Grid config */
  grid-template-columns: minmax(auto, 15%) 5% minmax(50%, auto) 5% minmax(
      auto,
      15%
    );
  grid-template-rows: 0.1fr 25px auto 50px;
  grid-template-areas:
    ".  .  header  .  ."
    ".  .  auth    .  ."
    ".  .  route   .  ."
    ".  .  footer  .  .";
  /* Page sizing */
  min-height: 100%;
  min-width: 100%;
  /* Styling */
  background: url("/static/scatter.png"),
    linear-gradient(rgb(62, 62, 62), rgb(24, 24, 24) 40vh);
  display: grid;
}

@media (max-width: 600px) {
  #app {
    grid-template-areas:
      "header header header header header"
      "auth   auth   auth   auth   auth"
      "route  route  route  route  route"
      "footer footer footer footer footer";
  }
}

header {
  /* Grid config */
  grid-area: header;
  /* Styling */
  z-index: 1;
  padding-bottom: 10px;
}

header h1 {
  margin: 5px 0 0 0;
  font-size: 2rem;
  color: rgb(217, 217, 217);
}

.auth {
  /* Grid config */
  grid-area: auth;
  /* Styling */
  z-index: 1;
}

.route {
  /* Grid config */
  grid-area: route;
  /* Styling */
  height: 100%;
  z-index: 2;
}

footer {
  /* Grid config */
  grid-area: footer;
  /* Styling */
  color: rgb(217, 217, 217);
  padding: 10px 10px 0px 0px;
  text-align: right;
  z-index: 1;
}

.bodyShadow {
  /* Grid config */
  /* This doesn't get a named area as it overlays the whole header/auth/route/footer section */
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  /* Styling */
  z-index: 0;
}
</style>
